<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406560294851-gap0hn2ve535kp1750j4h893ga63fajq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406560294851-gap0hn2ve535kp1750j4h893ga63fajq</string>
	<key>API_KEY</key>
	<string>AIzaSyARcyf8H6XWPYFrQfX601eXwqj7jBQuNJU</string>
	<key>GCM_SENDER_ID</key>
	<string>406560294851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.behelp</string>
	<key>PROJECT_ID</key>
	<string>behelp-6b527</string>
	<key>STORAGE_BUCKET</key>
	<string>behelp-6b527.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406560294851:ios:ee16e33e9eeb4aee579f76</string>
</dict>
</plist>